.event-filter-section {
    background-color: lightblue;
    padding: 2%;
}
  

.event-display-box {
    margin: 1%;
    border-style: solid;
    border-color: whitesmoke;
    padding: 0.5%;
    background-color: rgb(79, 79, 218);
}