<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FILLBOARD PROFILE</title>
        <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="/public/stylesheets/images/favicon.png">
    </head>
    <body>


        <div class="main-header">
            <nav>
                <div class="nav-left">
                    <img src="/public/stylesheets/images/logo3.png" class="main-logo" />
                    <ul>
                        <li><img src="/public/stylesheets/images/inbox.png"></li>
                       

                    </ul>
                </div>

                <div class="nav-center">

                    
                </div>
                <div class="about-nav-right">

                 

                    <!-- <div class="user-pf-post">
                        <!-- <img src="/public/stylesheets/images/pf2.jpg" class="user-pf-post-img" /> -->
                        <img src="/pfp.png" class="user-pf-post-img" />

                    </div> 

                        <div class="about-back-main">
                    <form action="/profile_to_main" method="POST">
                                    
                        <div class="main-pf-edit-btn">
                            <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                value="Back to Main"></button>
                            
                        </div>
                    
                         </form>
                        </div>
                   
                    
                </div>

            </nav>

            <div class="main-container">
                <!-- left column-->
                <div class="pf-left-col">
                    
                    
                </div>
                <!-- <div class="pf-center-col">
                    <div class="pf-wallpaper">
                    <img src="/background.png" class="main-pf" /><br><br>
                    
                </div><br>
                <div class="pf-about-me-label">
                <p>ABOUT ME</p>
                </div>
                <div class="pf-about-me">
                <div class="pf-about-msg">

                        <br>
                    
                        
                  
                    
                   


                </div>
                </div>
                </div> -->
                <div class="pf-right-col">
                    

                </div>



        </div>

        

        

        

    </body>
</html> 