<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FILLBOARD PROFILE</title>
        <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="/public/stylesheets/images/favicon.png">
    </head>
    <body>


        <div class="main-header">
            <nav>
                <div class="nav-left">
                    <img src="/public/stylesheets/images/logo3.png" class="main-logo" />
                    <ul>
                        
                       

                    </ul>
                </div>

                <div class="nav-center">

                    
                </div>
                <div class="about-nav-right">

                 

                    <!-- <div class="user-pf-post">
                        <!-- <img src="/public/stylesheets/images/pf2.jpg" class="user-pf-post-img" /> -->
                        <img src="/pfp.png" class="user-pf-post-img" />

                    </div> 

                        <div class="about-back-main">
                    <form action="/profile_to_main" method="POST">
                                    
                        <div class="main-pf-edit-btn">
                            <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                value="Back to Main"></button>
                            
                        </div>
                    
                         </form>
                        </div>
                   
                    
                </div>

            </nav>

            <div class="main-container">
                <!-- left column-->
                <div class="pf-left-col">
                    
                    
                </div>
                <div class="pf-center-col">
                    <div class="about-into"><br>
                        <p5>FillBoard is a very young startup founded in the heart of technology and innovation - the silicon valley. It was founded by 4 motivated entrepreneurs/developers with the goal of starting a project that helps people to find activities and friends in a more disconnected world than ever.<p5><br><br>

                            Getting together with friends and acquaintances is nowadays mostly done by the use of social media. Organizing meetings with friends is usually done via group chats or by phone calls. If you are interested in a certain topic there is the possibility to join facebook groups, telegram channels or reddit categories. There are already a lot of possibilities to get together with people but it’s a misuse of the technology's real purpose. With FillBoard there is the opportunity to provide information for events and meetings more user friendly and faster.
                        <p5>
                    </div><br>
                    <div class="team-img">
                        <img src="/public/stylesheets/images/fillboard_team.png" class="team-img" /><br><br>
                        </div>
                    <div class="about-into">
                        <p6>Kwangoh: "What a journey. Frontend was fun and I learned more than I expected. No pain No gain."<p6><br><br>
                        <p6>Moritz: "Being part of the Fillboard Team was  challenging as well as exciting. It taught me a lot about team dynamics and the software development process!"<p6><br><br>
                        <p6>Ian: "This was a great learning experience! So many hardships but I do not regret it. I have learned more actual applicable skills this semester than any other!"<p6><br><br>
                        <p6>Syed: "Creating Fillboard has been an intricate and amazing journey. I have learned a lot throughout the creation of this project, and my team has taught me a lot as well. I am grateful to have a great team and the opportunity to create Fillboard." <p6>
                            
   

                    </div><br>
                    
                
                <br>
              
                
                </div>


                <div class="pf-right-col">
                    
                    </div>
                    
                </div>

        </div>

        

        

        

    </body>
</html> 