<!DOCTYPE html>
<html>
    <head>
        <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Edit Profile</h1>
        <form action="/saveProfile", method="POST">
            <label for="birthday">Your saved birthday is:</label><br>
            <input type="birthday" name="birthday" id="birthday" value="<%= query_data[0]['birthday'] %>"><br><br>
            <label for="gender">Your gender is:</label><br>
            <input type="gender" name="gender" id="gender" value="<%= query_data[0]['gender'] %>"><br><br>
            <label for="biography">Your biography is:</label><br>
            <input type="biography" name="biography" id="biography" value="<%= query_data[0]['biography'] %>"><br><br>
            <input type="submit" name="save" id="save" value="Save">
        </form>
    </body>
</html>