<!DOCTYPE html>
<html>
  <head>
    <link
      href="/public/stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <h1>Welcome to Fillboard :)!</h1>
  </body>
</html>
