<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport content =" width="device-width," initial-scale="1.0" />
        <title>Main Dashboard</title>
        <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <form action="/editProfile" method="POST">
            <input type="submit" value="Edit Profile"></button>
        </form> 

        <br>
        <h3>Biography: </h3><p><%= user_data[0]['biography'] %></p><br>
        <h3>Gender: </h3><p><%= user_data[0]['gender'] %></p><br>
        <h3>Birthday: </h3><p><%= user_data[0]['birthday'] %></p><br>

        <form action="/profile_to_main" method="POST">
            <input type="submit" value="Go Back"></button>
        </form> 

    </body>
</html> 