<!DOCTYPE html>
<html>
    <head>
        <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Welcome to Fillboard! Please sign up</h1>
        <form action="/signup" method="POST">
            <label for="username">Username</label><br>
            <input type="username" name="username" id="username"><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email"><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password"><br>
            <label for="confpassword">Confirm Password</label><br>
            <input type="password" name="confpassword" id="confpassword"><br>
            <input type="submit" name="signup" id="signup" value="Sign Up">
            <input type="submit" name="signin" id="signin" value="Login">
        </form>
    </body>
</html>